@font-face {
font-family: "IBM Plex Mono";
src: url(/fonts/IBMPlexMono-Regular.ttf);
font-weight: 400;
}

@font-face {
font-family: "IBM Plex Mono";
src: url(/fonts/IBMPlexMono-Bold.ttf);
font-weight: 700;
}

html {
width: 1024px;
height: 5008px;
margin: 0;
background: #000028;
}

.navigation {
display: flex;
justify-content: center;
gap: 10px;
padding: 13px 0;
height: 26px;
}

a {
font-family: 'IBM Plex Mono';
font-style: normal;
line-height: 32px;
color: #FF0070;
}

button {
background-color: transparent;
border: none;
padding: 0 13px;
font-family: 'IBM Plex Mono';
font-size: 18px;
font-weight: 400;
line-height: 18px;
text-align: center;
cursor: pointer;
color: #FF0070;
}

.isAbutton {
border: 1px solid #FF0070 !important;
}

.recruit {
position: absolute;
width: 33px;
height: 26px;
left: 943px;
top: 20px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FF0070;
}

.lamp {
position: absolute;
width: 9px;
height: 9px;
left: 986px;
top: 28px;
background: #FF0070;
border-radius: 50%;
margin: 0;
box-shadow: 0 0 4px 2px #FF0070;
}

.bord {
box-sizing: border-box; 
position: absolute; 
width: 25px; 
height: 25px; 
border-style: solid; 
border-color: #FF0070; 
}

.bord.bord2 {
left: 10px; 
top: 725px; 
border-width: 0 0 1px 1px; 
}

.bord.bord1 {
width: 25px;
height: 25px;
left: 979px; 
top: 20px; 
border-width: 1px 1px 0 0; 
}

.title {
position: absolute;
width: 759px;
height: 130px;
left: 0;
top: 180px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 700;
font-size: 157px;
line-height: 129.53px;
color: #DB00FF;
text-shadow: 4px 4px 0 #FF0070;
}

.info {
position: absolute;
width: 491px;
height: 71px;
left: 513px;
top: 563px;
background: #FF0070;
font-family: 'IBM Plex Mono';
font-size: 18px;
font-weight: 700;
line-height: 23.4px;
text-align: left;
}

.hd {
width: 1024px;
height: 768px;
object-fit: cover;
background-image: url(/image/b7b566964fd701840768cd9eecd5ea42.png);
}

/*/main/*/

.main {
position: absolute;
width: 1024px;
height: 508px;
top: 828px;
background-color: #000028;
display: flex;
flex-direction: row;
padding: 0 13px;
}

.title2 {
width:314.96px;
height: 47px;
left: 0;
height: 47px;
color: #FF0070;
font-family: 'IBM Plex Mono';
font-size: 18px;
font-weight: 700;
line-height: 23.4px;
text-align: left;
}

.fl {
display: flex;
flex-direction: column;
position: absolute;
width: 648.92px;
height: 244px;
left: 354.89px;
}

.more {
background-color:#FF0070;
height: 23px;
width: 648.92px;
left: 354.89px;
font-family: 'IBM Plex Mono';
font-size: 18px;
font-weight: 700;
line-height: 23.4px;
text-align: left;
}

.hard {
width: 648.92px;
height: 211px;
right: 20.19px;
top: 33px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #F1B2CE;
}

.dn {
position: absolute;
width: 648.92px;
height: 244px;
top: 264px;
left: 355.08px;
}

.def {
display: flex;
width: 648.92px;
height: 23px;
right: 20px;
top: 264px;
margin: 18px 0 0 0;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
color: #000028;
background-color: #FF0070;
}

.gormon {
width: 648.92px;
height: 211px;
right: 20px;
top: 297px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #F1B2CE;
}

.mn {
padding: 0 20px;
position: absolute;
width: 1024px;
height: 498px;
top: 1416px;
gap: 20px;
display: flex;
flex-direction: row;
}

.title3 {
width: 315px;
height: 47px;
left: 20px;
top: 0;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
color: #FF0070;
}

.attention {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0;
left: 20px;
gap: 20px;
position: absolute;
width: 984px;
height: 431px;
top: 67px;
}

.mr {
display: flex;
width: 315px;
height: 23px;
left: 0;
top: 0;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
color: #000028;
background-color: #FF0070;
}

.chill {
width: 315px;
height: 351px;
left: 0;
top: 33px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #F1B2CE;
}

.food {
display: flex;
width: 315px;
height: 23px;
left: 355px;
top: 67px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
background-color: #FF0070;
}

.bread {
width: 315px;
height: 328px;
left: 335px;
top: 33px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #F1B2CE;
}

.game {
display: flex;
width: 315px;
height: 23px;
left: 689px;
top: 67px;
font-family: 'IBM Plex Mono';
font-size: 18px;
font-weight: 700;
line-height: 23.4px;
text-align: left;
background-color: #FF0070;
}

.work {
width: 315px;
height: 398px;
left: 670px;
top: 33px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #F1B2CE;
}

.fish {
display: flex;
flex-direction: column;
padding: 0 20px;
position: absolute;
width: 1024px;
height: 1015px;
left: 0;
top: 1994px;
}

.gold {
width: 315px;
height: 98px;
left: 20px;
top: 0;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
color: #FF0070;
margin: 0;
}

.mmm {
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0;
gap: 20px;
position: absolute;
width: 649px;
height: 1015px;
right: 20px;
top: 0;
}

.five {
display: flex;
width: 649px;
height: 23px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
color: #000028;
background-color: #FF0070;
}

.lh {
width: 649px;
height: 244px;
}

.cloud {
display: flex;
width: 649px;
height: 23px;
left: 0;
top: 43px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #000028;
background-color: #FF0070;
}

.sheet {
width: 647.55px;
height: 211px;
left: 0;
top: 76px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #F1B2CE;
}

.ce {
width: 649px;
height: 150px;
}

.music {
display: flex;
width: 649px;
height: 23px;
left: 0;
top: 307px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #000028;
background-color: #FF0070;
}

.love {
width: 649px;
height: 117px;
left: 0;
top: 340px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #F1B2CE;
}

.ko {
width: 649px;
height: 197px;
}

.walk {
display: flex;
width: 649px;
height: 23px;
left: 0;
top: 477px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #000028;
background-color: #FF0070;
}

.go {
width: 649px;
height: 164px;
left: 0;
top: 510px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #F1B2CE;
}

.ey {
width: 649px;
height: 151px;
}

.there {
display: flex;
width: 649px;
height: 23px;
left: 0;
top: 694px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #000028;
background-color: #FF0070;
}

.berry {
width: 649px;
height: 118px;
left: 0;
top: 727px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #F1B2CE;
}

.dk {
width: 649px;
height: 150px;
}

.read {
display: flex;
width: 649px;
height: 23px;
left: 0;
top: 865px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #000028;
background-color: #FF0070;
}

.book {
width: 649px;
height: 117px;
left: 0;
top: 898px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #F1B2CE;
}

.picture {
display: flex;
flex-direction: row;
align-items: center;
padding: 0 20px;
position: absolute;
width: 1024px;
height: 1091px;
left: 0;
top: 3089px;
}

.img {
position: absolute;
width: 984px;
height: 23px;
left: 20px;
top: 0;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
color: #000028;
background-color: #FF0070;
}

.pict1 {
position: absolute;
width: 649px;
height: 260px;
left: 20.24px;
top: 43px;
object-fit: cover;
}

.pict2 {
position: absolute;
width: 315px;
height: 595px;
left: 689px;
top: 43px;
object-fit: cover;
}

.pict3 {
position: absolute;
width: 315px;
height: 315px;
left: 355px;
top: 323px;
object-fit: cover;
}

.pict4 {
position: absolute;
width: 315px;
height: 768px;
left: 20.24px;
top: 323px;
object-fit: cover;
}

.pict5 {
position: absolute;
width: 649px;
height: 428px;
left: 355px;
top: 663px;
object-fit: cover;
}

.last {
position: absolute;
width: 1024px;
height: 768px;
left: 0;
top: 4240px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 10px;
}

h3 {
width: 471px;
height: 130px;
left: 277px;
top: 319px;
font-family: 'IBM Plex Mono';
font-weight: 700;
font-size: 157px;
line-height: 129.53px;
color: #DB00FF;
text-shadow: 2px 2px 0 #FF0070;
}

.brd1 {
box-sizing: border-box;
position: absolute;
width: 25px;
height: 25px;
left: 979px;
top: 20px;
margin: 0;
border-width: 1px 1px 0 0;
border-style: solid;
border-color: #FF0070;
}

.brd2 {
box-sizing: border-box;
position: absolute;
width: 25px;
height: 25px;
left: 20px;
top: 723px;
margin: 0;
border-width: 0 0 1px 1px;
border-style: solid;
border-color: #FF0070;
}

